/* The switch - the box around the slider */
.switch-parent {
    width: 51px;
    height: 31px;
    position: relative;
}

/* Hide default HTML checkbox */
.switch-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.switch-label {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #e9e9eb;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
}

/* The slider */
.switch-slider {
    width: 27px;
    height: 27px;
    position: absolute;
    left: calc(50% - 27px / 2 - 10px);
    top: calc(50% - 27px / 2);
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.switch-parent:active .switch-slider {
    width: 37px;
    border-radius: 20px;
}

.switch-checkbox:checked+.switch-label:active .switch-slider {
    width: 37px;
    left: calc(30% - 27px / 2 + 10px);
}

.switch-checkbox:checked+.switch-label {
    background-color: var(--color-primary, #F51042);
}

.switch-checkbox:checked+.switch-label .switch-slider {
    left: calc(50% - 27px / 2 + 10px);
    top: calc(50% - 27px / 2);
}

.switch-checkbox:disabled+.switch-label {
    opacity: 0.5;
    cursor: not-allowed;
}

.switch-checkbox:disabled+.switch-label .switch-slider {
    cursor: not-allowed;
}